.line-warning {
	background-color: yellow;
}

.line-error {
	background-color: #ff8c00;
}

.line-ok {
	background-color: #7fff00;
}

.repo-list {
	font-size: 24px
}

.repo-list li {
	padding-bottom: 7px
}
